@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />

<main class="cards">

        <section class="card contact">
            <div class="icon">
                <img src="~/Imagens/RJ.png"
                    alt="RJ">
            </div>
            <h3>Rio de Janeiro</h3>
            <span>Faça seu Cadastro e venha conhecer a cidade maravilhosa</span>
            <a href="https://localhost:44398/Destinoes/Create"><button>Cadastro</button></a>
        </section>


        <section class="card shop">
            <div class="icon">
                <img src="~/Imagens/SaoPaulo.jpg"
                    alt="SP">
            </div>
            <h3>São Paulo</h3>
            <span>São Paulo, centro financeiro do Brasil, está entre as cidades mais populosas do mundo</span>
           <a href="https://localhost:44398/Destinoes/Create"><button>Cadastro</button></a>
        </section>

         <section class="card contact">
            <div class="icon">
                <img src="~/Imagens/Alemanha.jpg"
                    alt="DE">
            </div>
            <h3>Alemanha</h3>
            <span>Lá vem mais,lá vem eles, venha fazer um passeio pela Alemanha!</span>
            <a href="https://localhost:44398/Destinoes/Create"><button>Cadastro</button></a>
        </section>



        <section class="card shop">
            <div class="icon">
                <img src="~/Imagens/Portugal.jpg"
                    alt="PT">
            </div>
            <h3>Portugal</h3>
            <span>Cadastre e compre uma passagem para o país que roubaram nosso ouro!</span>
           <a href="https://localhost:44398/Destinoes/Create"><button>Cadastro</button></a>
        </section>

       
    </main>



 

