@{
    ViewData["Title"] = "Promocao";
}


<h1 style="color: blueviolet;">PROMOÇÃO RECODE</h1>

<p>Volte a sonhar com a sua próxima viagem. Encontre reservas flexíveis e os melhores preços para voos e pacotes..</p>
<hr>
<div class="card" style="width: 18rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Praia_da_Ponta_Negra_%28Manaus%29.jpg/1200px-Praia_da_Ponta_Negra_%28Manaus%29.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Promoção Para Manaus</h5>
    <p class="card-text">Reserve seu Pacote para Manaus na <i>Decolar Recode.</i> Confira essa oferta de 1,200,00 reais</p>
    <a href="https://localhost:44398/Destinoes" class="btn btn-primary">Fazer Meu Cadastro</a>
  </div>
</div>